<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js' defer></script>
    <script src="../static/draganddrop.js" defer></script>
    <script src="../static/coloring.js" defer></script>

    <meta charset="UTF-8">
    <title>Drag and Drop</title>
</head>
<body>
    <h1>Drag and Drop</div>
        <div class="row">
            <div class="col">
                <div id="left" class="card">
                    <img src="../static/image/pw6.jpeg">
                </div>
            </div>
            <div class="col">
                <div id="midle" class="card">
                    <img src="../static/image/astircs77.jpeg">
                </div>
            </div>

            <div class="col">
                <div id="right" class="card">
                    <img src="../static/image/cobra15.jpeg">
                </div>
            </div>
        </div>
    </div>
</body>
</html>