<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css"/>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js' defer></script>
    <script src="../static/draganddrop.js" defer></script>
    <meta charset="UTF-8">
    <title>Drag and Drop</title>
</head>
<body>
    <h1>Hello drag and drop!</h1>
    <div id="left">
        <h2>Hello</h2>
    </div>
    <div id="right">
        <h2>Bello</h2>
    </div>
</body>
</html>