<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css"/>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js' defer></script>
    <script src="../static/draganddrop.js" defer></script>
    <meta charset="UTF-8">
    <title>Drag and Drop</title>
</head>
<body>
    <h1>Hello drag and drop!</h1>
    <div class="card">
        <div class="left_card">
            <div id="left">
                <p></p>
                <div class="left">Hello</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="right_card">
            <div id="right">
                <p></p>
                <div class="right">Bello</div>
            </div>
        </div>
    </div>
</body>
</html>